
<p id="iteration_project_error" class="error"></p>

<p>
  <label for="iteration_name">Name</label>
  <%= f.text_field 'name' %>
</p>
<p id="iteration_name_error" class="error"></p>

<p>
  <label for="iteration_description">Description</label>
  <%= f.text_area 'description', :size => "40x3" %>
</p>
<p id="iteration_description_error" class="error"></p>

<p>
  <label for="iteration_color">Color</label>
  <%= f.text_field 'color' %>
</p>
<p id="iteration_color_error" class="error"></p>

<p>
  <label for="iteration_start_at">Start</label>
  <%= f.text_field 'start_at', :size => 10, :class => 'jquery-ui-datepicker' %>
</p>
<p id="iteration_start_at_error" class="error"></p>

<p>
  <label for="iteration_deadline">Deadline</label>
  <%= f.text_field 'deadline', :size => 10, :class => 'jquery-ui-datepicker' %>
</p>
<p id="iteration_deadline_error" class="error"></p>

<p id="iteration_base_error" class="error"></p>
