<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>burndown</title>
  <%# javascript_include_tag :all, :cache => true %>
  <%= javascript_include_tag 'mootools-core',         :cache => true %>
  <%= javascript_include_tag 'mootools-more',         :cache => true %>
  <%= javascript_include_tag 'jquery-1.2.6.min.js',   :cache => true %>
  <%= javascript_include_tag 'canvastext',            :cache => true %>
  <%= javascript_include_tag 'facebox',               :cache => true %>
  <%= javascript_include_tag 'application',           :cache => true %>
  <%= javascript_include_tag 'charts',                :cache => true %>
  <%= javascript_include_tag 'projects',              :cache => true %>
  <%= stylesheet_link_tag :all, :cache => true %>
  <script type="text/javascript" charset="utf-8">
    jQuery.noConflict();
  </script>
</head>
<body>
<%= yield %>
</body>
</html>
