<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>burnify</title>
  <%= javascript_include_tag :bluff, :burnify, :cache => true %>
  <%= stylesheet_link_tag :all, :cache => true %>
</head>
<body>
  <p id="replay" style="display:none;"><%= flash[:replay] %></p>
  <div id="header">
    <%= render :partial => 'common/header' %>
  </div> 
  <div id="main-content">
    <%= yield %>
  </div> 
  <div id="footer">
    <%= render :partial => 'common/footer' %>
  </div>
</body>
</html>
